<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="./node_modules/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/diy.min.css">
</head>
<body>
<div id="app" style="height: 100vh;width:100vw;display: flex;overflow: scroll">
    <el-container>
        <el-header class="uv-header">
            <el-row>
                <el-col :span="23">
                    <el-menu
                            style="border:none;"
                            :default-active="activeIndex"
                            background-color="#545c64"
                            class="el-menu-demo"
                            mode="horizontal"
                            @select="handleSelect"
                            text-color="#fff"
                            active-text-color="#ffd04b"
                    >
                        <el-menu-item index="1" route="dealcenter">处理中心</el-menu-item>
                        <el-submenu index="2" route="workplant">
                            <template slot="title">我的工作台</template>
                            <el-menu-item index="2-1" route="option1">选项1</el-menu-item>
                            <el-menu-item index="2-2" route="option2">选项2</el-menu-item>
                            <el-menu-item index="2-3" route="option3">选项3</el-menu-item>
                            <el-submenu index="2-4">
                                <template slot="title">选项4</template>
                                <el-menu-item index="2-4-1">选项1</el-menu-item>
                                <el-menu-item index="2-4-2">选项2</el-menu-item>
                                <el-menu-item index="2-4-3">选项3</el-menu-item>
                            </el-submenu>
                        </el-submenu>
                        <el-menu-item index="3">消息中心</el-menu-item>
                        <el-menu-item index="4">订单管理</el-menu-item>
                    </el-menu>
                </el-col>
                <el-col :span="1" style="line-height: 60px;">
                    <el-button type="primary" icon="el-icon-user" size="small" circle></el-button>
                </el-col>
            </el-row>

        </el-header>
        <el-container>
            <el-main>
                <el-col>
                    <el-row>
                        <el-col :span="5">
                            <el-select v-model="query.searchFilterId" placeholder="请选择" :disabled="query.ing">
                                <el-option
                                        v-for="item in query.searchFilters"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="10">
                            <el-input placeholder="请输入角色订单SN" v-model="query.orderSn" minlength="32" maxlength="32"
                                      show-word-limit @change="analysisGamer" :disabled="query.ing">
                                <template slot="prepend">OrderSN</template>
                            </el-input>
                        </el-col>
                        <el-col :span="5" style="padding: 0 5px;">
                            <el-button @click="analysisGamer" type="primary" :loading="query.ing">分析</el-button>
                        </el-col>
                    </el-row>
                    <el-card v-show="hasResult" style="margin-top: 16px;" lay-size="mini" class="result-card">
                        <div slot="header">
                            <span>{{notice.title}}</span>
                            <span style="margin-left: 10px;">{{notice.content}}</span>
                            <el-button style="float: right;" type="primary" icon="el-icon-user" size="mini" circle>
                            </el-button>
                        </div>

                        <div class="card-cover" v-show="query.ing"></div>

                        <el-divider>英雄</el-divider>
                        <el-container class="sh-container">

                            <span v-for="(hero,heroId) in gamer.heros"
                                  class="hero" :class="getShowClass(hero)"
                            >
                                <img :src="getHeroUrl(hero)" class="img"/>
                                <span class="season" :class="getSeasonClass(hero)"></span>
                                <span class="title">{{hero.name}}</span>
                                <span class="cover"></span>
                                <span class="advance-num">
                                    <i class="icon el-icon-star-on" v-for="i in hero.advanceNum"></i>
                                </span>
                                <span class="hero-type-availiable" v-if="hero.heroTypeAvailible">
                                    <i class="el-icon-s-cooperation"></i></span>
                                <span class="hero-type-advance" v-if="hero.heroTypeAdvance">
                                    <i class="el-icon-s-promotion"></i></span>
                            </span>
                        </el-container>

                        <el-divider>技能</el-divider>

                        <el-container class="sh-container" v-for="type in 4" :key="type">

                            <span v-for="(skill,skillId) in gamer['skill'+type]"
                                  class="skill" :class="getShowClass(skill)"
                            >
                                <img :src="getSkillUrl(skill)" class="img"/>
                                <span class="season" :class="getSeasonClass(skill)"></span>
                                <span class="title">{{skill.name}}</span>
                                <span class="title">{{skill.skill_id}}</span>
                                <span class="cover"></span>
                            </span>
                        </el-container>

                    </el-card>
                </el-col>
            </el-main>
        </el-container>
    </el-container>

</div>
</body>
<!-- import Vue before Element -->
<script src="./node_modules/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="./node_modules/element-ui/lib/index.js"></script>
<script src="./node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="https://cbg-stzb.res.netease.com/js/game_auto_config.js"></script>
<script>
    Vue.prototype.$ELEMENT = {size: 'small', zIndex: 3000};
    new Vue({
        el: '#app',
        data: function () {
            console.log(CBG_GAME_CONFIG);
            var skillArr = CBG_GAME_CONFIG.skill;
            var heroArr = CBG_GAME_CONFIG.hero;
            var skillJson = {};
            var heroJson = {};
            skillArr.forEach(skill => {
                skillJson[skill.skill_id] = skill;
            });
            heroArr.forEach(hero => {
                heroJson[hero.hero_id] = hero;
            });

            return {
                visible: false,
                activeIndex: "1",

                query: {
                    ing: false,
                    orderSn: "202003160902116-1-VNXOJDOEA9Y8ZV",
                    searchFilterId: 1,
                    searchFilters: [{id: 1, name: "高端"}, {id: 2, name: "中端"}, {id: 3, name: "低端"}]
                },
                res: {
                    heroUrl: "https://cbg-stzb.res.netease.com/game_res/cards/cut/card_medium_",
                    SkillUrl: "https://cbg-stzb.res.netease.com/rca31ca928721856ed36a1/dist/assert/product/icon-skill"
                },
                hero: heroJson,
                skill: skillJson,
                gamer: {},
                simpleGamer: {},
                notice: {},
                searchFilter: {},
                hasResult: false

            }
        },
        methods: {
            handleSelect(e) {
                console.log(e);
                this.activeIndex = e;
            },
            analysisGamer(e) {
                console.log(this.query.searchFilterId + ":" + this.query.orderSn);
                this.query.ing = true;
                try {
                    this.$http.post("gamer-compute/" + this.query.searchFilterId + "/" + this.query.orderSn).then(res => {
                        console.log(res);
                        this.gamer = res.data.gamer;
                        this.searchFilter = res.data.filter;
                        this.simpleGamer = res.data.simpleGamer;
                        this.notice = res.data.notice;
                        this.hasResult = true;
                        //处理数据
                        // 被动技能
                        this.gamer.skill1 = {};
                        // 指挥技能
                        this.gamer.skill2 = {};
                        // 主动技能
                        this.gamer.skill3 = {};
                        // 追击技能
                        this.gamer.skill4 = {};
                        this.gamer.heros = {};
                        this.dealHero();
                        this.dealSkill();
                    }, res => {
                        console.log(res);
                    }).then(function () {
                        this.query.ing = false;
                    })
                } catch (e) {
                    this.query.ing = false;

                }
            },

            getHeroUrl(hero) {
                return this.res.heroUrl + (!!hero.icon_hero_id ? hero.icon_hero_id : hero.iconHeroId) + '.png';
            },
            getSkillUrl(skill) {
                return this.res.SkillUrl + skill.skill_type + ".png";
            },
            getShowClass(heroOrSkill) {
                switch (heroOrSkill.cType) {
                    case 1:
                        return "p-has";
                    case 2:
                        return "p-no";
                    case 3:
                        return "o-has";
                    case 4:
                        return "o-no";
                    default:
                        return "";
                }
            },
            getSeasonClass(heroOrSkill) {
                switch (heroOrSkill.season) {
                    case 0:
                    case 1:
                        return "";
                    case 2:
                        return "S2";
                    case 3:
                        return "S3";
                    case 4:
                        return "XP";
                    default:
                        return heroOrSkill.season;
                }
            },
            dealHero() {
                this.searchFilter.containsHero.forEach(heroId => {
                    this.gamer.heros[heroId] = JSON.parse(JSON.stringify(this.hero[heroId]));
                    if (!!this.gamer.heroIdIdxMap[heroId]) {
                        this.gamer.heros[heroId].cType = 1;
                    } else {
                        this.gamer.heros[heroId].cType = 2;
                    }
                });
                this.searchFilter.optionHero.forEach(heroId => {
                    this.gamer.heros[heroId] = JSON.parse(JSON.stringify(this.hero[heroId]));
                    if (this.gamer.heroIdIdxMap[heroId] !== undefined) {
                        this.gamer.heros[heroId].cType = 3;
                    } else {
                        this.gamer.heros[heroId].cType = 4;
                    }
                });
                for (var heroId in this.gamer.heroIdIdxMap) {

                    if (this.hero[heroId].quality === 5) {

                        var idx = this.gamer.heroIdIdxMap[heroId];
                        var tmpHero = this.gamer.gamerHeroes[idx];

                        if (!this.gamer.heros[heroId]) {
                            this.gamer.heros[heroId] = JSON.parse(JSON.stringify(this.hero[heroId]));
                            this.gamer.heros[heroId].cType = 0;
                        }
                        var hero = this.gamer.heros[heroId];
                        hero.advanceNum = tmpHero.advanceNum;
                        hero.heroTypeAdvance = tmpHero.heroTypeAdvance;
                        hero.heroTypeAvailible = tmpHero.heroTypeAvailible.length;
                    }
                }
                console.log(this.gamer.heros);
            },
            dealSkill() {
                this.gamer.skillList.forEach(skill => {
                    this.skill[skill.skill_id].season = skill.season;
                });
                this.searchFilter.containsSkill.forEach(skillId => {
                    var s = this.skill[skillId];
                    this.gamer["skill" + s.skill_type][skillId] = s;
                    if (this.gamer.skillIds.includes(skillId)) {
                        s.cType = 1;
                    } else {
                        s.cType = 2;
                    }
                });
                this.searchFilter.optionSkill.forEach(skillId => {
                    var s = this.skill[skillId];
                    this.gamer["skill" + s.skill_type][skillId] = s;
                    if (this.gamer.skillIds.includes(skillId)) {
                        s.cType = 3;
                    } else {
                        s.cType = 4;
                    }
                });
                this.gamer.skillList.forEach((skill) => {

                    if (this.gamer["skill" + skill.skill_type][skill.skill_id] === undefined) {
                        this.gamer["skill" + skill.skill_type][skill.skill_id] = skill;
                        skill.cType = 0;
                    }

                });
                console.log(this.gamer);
                console.log(this.gamer.skillCount);
                var s1Count = Object.keys(this.gamer.skill1).length;
                var s2Count = Object.keys(this.gamer.skill2).length;
                var s3Count = Object.keys(this.gamer.skill3).length;
                var s4Count = Object.keys(this.gamer.skill4).length;

                console.log(s1Count + "-" + s2Count + "-" + s3Count + "-" + s4Count + ":" + (s1Count + s2Count + s3Count + s4Count))
            }
        }
    });

</script>
</html>
